.login {
  min-height: 100vh;
  background-image: url("../images/img-login-bg-0.png"), url("../images/img-login-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .login .header {
    position: relative;
    margin-top: 4.3rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none; }
  .login .header__content {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .login .header-search,
  .login .header__selects {
    display: none; }
