$bg-primary-color: #ffffff;
$bg-secondary-color: #fafaf9;
$text-primary-color: #536876;
$text-secondary-color: #203442;
$text-third-color: #c0c9d5;
$user-primary-color: #e60a17;
$user-secondary-color: #2f9a4c;
$user-black-color: #000000;

$wrapper: auto;
$container: 140rem;
