header.header 
    .container 
        .header__content
            .header-search 
                i.far.fa-search.header-search__icon
                input.header-search__input(type="email" name="email" placeholder="Search talent")
            a.header__logo
                img.header__image(src="images/img-header-logo.png") 
            .header__selects
                .header-selected 
                    i.fas.fa-filter.header-selected__icon
                .header-selected 
                    i.fas.fa-bell.header-selected__icon
                .header-selected 
                    i.fas.fa-plus.header-selected__icon
                .header-user 
                    img.header-user__image(src="images/img-header-user.png")
                    i.fas.fa-caret-down.header-user__icon
