nav.nav 
    .container 
        ul.nav__list 
            +nav-item("News")
            +nav-item("Event")
            +nav-item("Result")
            +nav-item("Photo")
            +nav-item("Video")
            +nav-item("Audio")
            +nav-item("Status")