main.main 
    .container 
        section.post
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
            +post-item("https://sl.sbs.com.au/public/image/file/f42f659d-781a-4d2c-b7eb-de797036c432/crop/16x9", "Ronaldo" ,"Ronaldo makes history as Juventus secure hard-fought win over Spezia","News", "3 months ago", "0","0")
