main.sign-in
    .container 
        .sign-in__content
            h1.sign-in__title Sign in
            form.sign-in-form(action="" )
                +sign-in-form-item("email")
                +sign-in-form-item("password")
                +button("log in","submit").sign-in-form__button.btn--green
                a(href="#").sign-in-form__forgot Forgot password? 
            h2.sign-in__caption Or 
            .sign-in-social
                +social-item("fab fa-twitter","Twitter log in").sign-in-social__item--twitter
                +social-item("fab fa-facebook-square","Facebook log in").sign-in-social__item--facebook
            p.sign-in__register New to eko? 
                a(href="register") Register 
        .sign-in__bottom 
            p.sign-in__vender Are you Vender? 
                a(href="#") Login